<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Beer Pressure</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper green darken-3">
            <a href="/users" class="brand-logo">
                <i class="large material-icons">local_bar</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/users">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{{ body }}}
    </div>
    <footer class="page-footer green darken-3">
        <div>
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Beer Reviews</h5>
                    <p class="grey-text text-lighten-4">Drink Beer, Rate Beer, Drink More Beer, And Then Drink More Beer.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 BEER DRINKING
                <a class="grey-text text-lighten-4 right" href="/users">User Dashboard</a>
            </div>
        </div>
    </footer>
</body>

</html>