.breadcrumbs{
    color: black;
}
.cancel-button {
    text-decoration: none;
    color: orangered;
}

.btn {
    color: white;
}
img {
    width: 100px;
    height: 250px;
}

.card {
    width:300px;

}

.red{
    margin-top: 15px;
}