.breadcrumbs{
    color: black;
}
.cancel-button {
    text-decoration: none;
    color: orangered;
}

.btn {
    color: white;
}


.card {
    width:300px;

}

.red{
    margin-top: 15px;
}

.nav-text {
    padding-left: 35px;
}

.user-info{
    display: flex;
    flex-direction: row;
}

.user-age {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
}

.user-bio {
    padding-left: 15px;
}