.breadcrumb{
    color: black;
    text-decoration: underline;
}

.cancel-button {
    text-decoration: none;
    color: orangered;
}

a {
    color: white;
}

i {
    margin-right: 15px;
}

.card {
    width:300px;
}

.red{
    margin-top: 15px;
}

.user-info{
    display: flex;
    flex-direction: row;
}

.user-age {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
}

.user-bio {
    padding-left: 15px;
}

.add-user {
    margin-bottom: 15px;
}

.cancel {
    margin-top: 15px;
}

.bar-location{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.bar-rating{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.bar-info{
    display: flex;
    flex-direction: row;
}

.btn{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.collection {
    margin-top: 20px;
}
