<h1>{{users.name}}</h1>
<ul>
    {{#each users.bars}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>

</div>

<div class="button primary">
    <a href="/users/{{users._id}}/edit">
        Edit User
    </a>
</div>