<div class="header">
    <h3>Beer Drinkers</h3>
</div>

<h5>User Profiles</h5>
<div class="user-dashboard">
    {{#each users}}
    <div>
        <div class="card hoverable">
            <div class=" card-image ">
                <img src="{{this.image}} ">
            </div>
            <div class="card-stacked ">
                <div class="card-content ">
                    <p>{{this.bio}}</p>
                </div>
                <div class="card-action ">
                    <a href="/users/{{this._id}}">{{this.name}}</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<button class="btn white-text ">
    <a href="/users/new ">
        Add New User
    </a>
</button>