<h1>Beer Drinkers</h1>
<ul>
    {{#each users}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>

<div class="button primary">
    <a href="/users/{{users._id}}">
        User Profile
    </a>
</div>

<div class="button primary">
    <a href="/users/new">
        Add New User
    </a>
</div>

<div class="button primary">
    <a href="/users/{{users._id}}">
        Edit User
    </a>
</div>