<h3>Beer Drinkers</h3>
<ul>
    {{#each users}}
    <a href="/users/{{this._id}}">
        <li>{{this.name}}</li>
    </a>
    {{/each}}
</ul>

<div class="button primary">
    <a href="/users/new">
        Add New User
    </a>
</div>