<h3>Add New User</h3>

<form action="/users" method="POST">
    <div>
        <label for="name">Your Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="username">Your Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="age">Your Age</label>
        <input type="text" name="age">
    </div>
    <div>
        <label for="location">Your Location</label>
        <input type="text" name="location">
    </div>
    <div>
        <label for="image">Profile Picture</label>
        <input type="text" name="image">
    </div>
    <div>
        <label for="bio">User Bio</label>
        <input type="text" name="bio">
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Create account</button>

    <button class="btn">
        <a href="/users">cancel</a>
    </button>
</form>