<h3>Add New Bar</h3>

<form action="/users/{{userId}}/bars" method="POST">
    <div>
        <label for="name">Bar Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="location">Bar Location</label>
        <input type="text" name="location">
    </div>
    <div>
        <label for="rating">Bar Rating</label>
        <input type="text" name="rating">
    </div>
    <button class="btn" type="submit">Add Bar</button>

</form>

<button class="btn">
    <a href="/users/{{userId}}">cancel</a>
</button>