<h3>Add New Bar</h3>
<div class="nav-wrapper">
    <div class="col s12">
        <a href="/users" class="breadcrumb black-text">Users</a>
        <a href="/users/{{userId}}/bars/{{barId}}" class="breadcrumb black-text">Bar</a>
    </div>
</div>


<form action="/users/{{userId}}/bars" method="POST">
    <div>
        <label for="name">Bar Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="location">Bar Location</label>
        <input type="text" name="location">
    </div>
    <div>
        <label for="rating">Bar Rating</label>
        <input type="text" name="rating">
    </div>
    <button class="btn" type="submit">Add Bar</button>

    <button class="btn">
        <a href="/users/{{userId}}">cancel</a>
    </button>
</form>